<p>The workshop starts at 10:00 on Monday 29th of June, but we will be online a short while before, so if you have any issues with the setup, please join the Collaborate session from 09:00 BST onwards.</p>
<div class="row">
  <div class="col-md-6">
    <h3>Monday, 29th June (<a href="https://eu.bbcollab.com/guest/0efe1e4ebe2b4656aed960eb54454515">Join this online session in your browser</a>)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Help with ARCHER login accounts</td> </tr>
      <tr> <td>10:00</td>  <td>HPC Shell</td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, 30th June (<a href="https://eu.bbcollab.com/guest/e6cb4a154ce9496bb7e01000af5b5fbf">Join this online session in your browser</a>)</h3>
    <table class="table table-striped">
      <tr> <td>&nbsp;</td> <td>&nbsp;</td> </tr>
      <tr> <td>10:00</td>  <td>HPC Intro</td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up and Feedback survey</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
