<p>The workshop starts at 10:00 on Monday 29th of June, but we will be online a short while before, so if you have any issues with the setup, please pop along from 09:45 onwards.</p>
<div class="row">
  <div class="col-md-6">
    <h3>Monday, 29th June</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Help with ARCHER login accounts</td> </tr>
      <tr> <td>10:00</td>  <td>HPC Shell</td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td>HPC Shell (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, 30th June</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>HPC Intro</td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td>HPC Intro (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up and Feedback survey</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
